<div class="home-page">

  <div class="main-container">
    <div class="center">
      <div class="main-text">Tours, Globally</div>
      <div class="text">PREMIER AGENCY SINCE 1976</div>
    </div>

    <div class="button-zone">
      <div class="change-page" (click)="redirect()">Search, compare and book</div>
    </div>
  </div>


  <div class="links-zone">
    <div class="button">Contact Us</div>
    <div class="button">Data Policy</div>
    <div class="button">Terms & Conditions</div>
    <div class="button">Careers</div>
    <div class="button">Legal</div>
  </div>

</div>
